body
{
	color: #6666FF;
	font-family: sans-serif;
}

.post
{
	margin-bottom: 10px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #000;
	border-radius: 10px;
	min-width: 300px;
	max-width: 1000px;
	margin-left: 25%;
}

.field
{
	color: #333;
	background-color: #FFCC00;
}